.rockpaper {
    max-width: 1000px;
    width: 800px;
    height: auto;

    .title, .status-bar, .msg {
        width: 60%;
        margin: 0px auto;
    }

    .user-choices, .ai-choice {
        // border: 1px solid salmon;
        display: flex;
        justify-content: center;
    }

    .tile {
        width: 120px;
        height: 120px;
        border-radius:50%;
        background-color: rgba(0,0,0,.2);;
        box-shadow:5px 5px 16px 0 rgba(0,0,0,.3);
        
        opacity: 1;
        margin: 30px 30px;
        transition: box-shadow .3s ease,transform .2s ease;
        
        cursor: pointer;

        &.aitile{
            transform: scale(1.3);
        }

        &.active {
            transform: scale(1.3)
        }

        img {
            height: 100%;
            width: 100%;
        }
    }
    
    .tile:not(.aitile):not(.active):not(.muted) {
        &:hover {
            transform: scale(1.1)
        }
    }

    .winner {
        border: 2px solid #CDDC39;
        background-color: rgba(205,220,57,.8);;
        box-shadow:5px 5px 16px 5px rgba(205,220,57,.3);
        border-radius: 50%;
        opacity: 1;
    }

    .muted {
        opacity: 0.4;
    }

    .status-bar {
        button {
            margin: 0 15px;
            background-color: #c16ecf;
            color: #000;
            font-weight: 700;
            opacity: 1;
            font-size: 1rem;
            border-radius: 5px;

            &:hover, &:focus {
                background-color: #864e90;
                color: #fff;
            }
        }
    }
}